
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>MIT Senior Week '19</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Custom styles for this template -->
>
  </head>
  <body>

    <header>
      <div id="custon-nav" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">MIT Class of 2019 Senior Week</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./lottery">Lottery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./committee">Committee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>




      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="bigview">
      <div class="container">
          <div class="row">
            <div class="col-4">
              <center>
                <div class="centerheader">
            <img src="logo.png" width="50%" height="100%"/> 
                </div>
            </center>
            </div>
            <div class="col-8">
              <div class="centerheader"></div>
              <br>
              <br>
              <br>
              <br>
          <h1>MIT Class of 2019 Senior Week</h1>
          <h2>May 31-June 5, 2019</h2>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
        <div class="mycontent">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <h2>Connect</h2>
            <p>Senior Week is a wonderful time to connect and reconnect with our MIT graduating class. Happening the week leading up to our commencement, Senior Week is nearly of week of events designed to bring our class closer together.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn more about Senior Week &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>Experience</h2>
            <p>We've had the opportunity to attend college in a fantastic city with wonderful people. See the amazing perks of living in New England one last time before graduating with some of your amazing classmates during Senior Week events.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View events &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>Explore</h2>
            <p>There's over 1,000 students in our class, and Boston's a fairly large city. There's still much left to explore, even during our senior year. Take a chance to meet someone new during Senior Week and try something you didn't expect.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn about the lottery &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

      
      </div>


      <!-- FOOTER -->
      <footer>
        <div class="float-right"><a href="#">Back to top</a></div>
        Created by the <a href="./committee">MIT Class of 2019 Senior Week Committee</a> &middot; <a href="./contact">Contact</a> &middot; <a href="https://www.facebook.com/mitseniorweek">Facebook</a>
      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script>
        $(document).ready(function() {
          // Transition effect for navbar 
          $(window).scroll(function() {
            // checks if window is scrolled more than 500px, adds/removes solid class
            if($(this).scrollTop() > 50) { 
                $('.custom-nav').addClass('solid');
            } else {
                $('.custom-nav').removeClass('solid');
            }
          });
  });
      </script>
  </body>
</html>
